@import url("./fonts.css");
@import url("./reset.css");
@import url("./core.css");
@import url("./prism.css");

:root {
  --font-body: "Public Sans", sans-serif;
  --font-mono: "Cascadia Code", monospace;
  font-family: var(--font-body);
}

body {
  margin-trim: block;
}

code {
  font-size: 0.9em;
  font-weight: 350;
}

code,
kbd {
  padding: 0.25em 0.5em;
  border-radius: 4px;
  background-color: #eeeeee;
  font-family: var(--font-mono);
}

pre {
  margin-block: 1lh;
  padding: 1rem;
  overflow: auto;
  border-radius: 8px;
  white-space: pre-wrap;
  background-color: #eeeeee;

  code {
    line-height: 1.75;
    padding: 0;
    background-color: transparent;
  }
}

figure pre {
  margin-top: 0;
}
